

*:not(#searchbar) {
    margin: 0;
    box-sizing: border-box;
  }

.fa-github {
  color: black; 
}

#location {
  text-align: center;
}
  

  body {
    font-family: 'Lora', serif;
    background-repeat: no-repeat;
  }

.searchcontainer {
  position: relative; 
  bottom: 150px; 
}

#imgs {
  position: absolute;
  top: 90vh;
  left: 90%;
  display: flex;
  width: 65px;
  justify-content: space-between;
}

.addresults {
  border-radius: 25px; 
  position: absolute;
  top: 55px; 
  width: 100vh; 
  overflow: hidden;
}
.addresults div:hover {
  background-color: rgb(189, 189, 189); 
}

.sresult {
  background-color: white;
  padding: 10px 20px;
}
.searchbar{
  border-radius: 25px; 
  padding: 0px;
  padding-left: 20px; 
  height: 55px;
  width: 100vh;
  border-color: blue;
  border-width: 4px;
  background-color: rgba(0,0,0,0);
  color: white; 
  font-size: large;
}


  .container {
    height: 100vh;
    width: 100vw;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  }

  .weather {
    display: flex; 
    align-items: center;
    margin: 15px 0;
    font-size: 1.5rem;
  }

  #location {
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
  }

  .desc {
    font-size: 1.25rem;
    text-transform: capitalize;
  }


  .tooltip {
    display:inline-block;
    position:relative;
    text-align:left;
    font-family: 'Tahoma', 'Sans Serif';
}

.tooltip .top {
    min-width:200px; 
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding:10px 20px;
    color:#EEEEEE;
    background-color:#666666;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    border:1px solid #666666;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .top {
    visibility:visible; opacity:1;
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#666666;
    border:1px solid #666666;box-shadow:0 1px 8px rgba(0,0,0,0.5);
}